{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}

<fieldset>
    <legend>Movie Room</legend>
    {{=A('Watch Computer', _class='btn', target='wcResults', callback=URL('home', 'automate', 'call', args=('run', 'watchComputer')))}}
    <span id="wcResults"></span>
    <br/>

    {{=A('Watch Directv', _class='btn', target='wdResults', callback=URL('home', 'automate', 'call', args=('run', 'watchDirectv')))}}
    <span id="wdResults"></span>
    <br/>

    {{=A('Goodnight', _class='btn', target="gnResults", callback=URL('home', 'automate', 'call', args=('run', 'goodnight')))}}
    <span id="gnResults"></span>

</fieldset>

<fieldset>
    <legend>Wall</legend>
    {{=A('Wall Up', _class='btn', target="wallResults", callback=URL('home', 'automate', 'call', args=('run', 'wallUp')))}}
    <span id="wallResults"></span>

    <br/>

    {{=A('Wall Down', _class='btn', target="wallResults2", callback=URL('home', 'automate', 'call', args=('run', 'wallDown')))}}
    <span id="wallResults2"></span>
</fieldset>

<br/><br/>
Notes :
<ol>
	<li>Use usb->serial db9 to control projector</li>
	<li>Use pytomation to control insteon plc (running on win7 server)</li>
	<li>Inter process communication or insert lirc command for wall</li>
</ol>


{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
{{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
{{=A(T("Insteon Devices"), _href=URL('devices'), _class='btn',
     _style='margin-top: 1em;')}}
{{end}}
